<h4>商品新規登録</h4>

<% if @item.errors.any? %>
  <%= @item.errors.count %>件のエラーが発生しました
  <ul>
    <% @item.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @item, url: '/admin/items',  method: :post do |f| %>
  <h6>商品画像</h6>
  <%= f.file_field :image, accept: "image/*" %>
  <h6>商品名</h6>
  <%= f.text_field :name %>
  <h6>商品説明</h6>
  <%= f.text_area :introduction %>
  <h6>価格</h6>
  <%= f.text_field :price %>
  <%= f.submit '新規登録' %>
<% end %>