<div class='col-md-8 offset-md-1'>
    <h4>商品詳細</h4>
  <table class='table table-hover table-inverse'>
    <%= image_tag @item.get_image, size: "100x100" %>
    <tbody>
      <thead>
        <tr>
          <th>商品名</th>
          <th>商品説明</th>
          <th>税抜価格（税込価格）</th>
          <th></th>
        </tr>
      </thead>
      <tr>
        <td>
          <%= link_to admin_item_path(@item.id) do %>
            <%= @item.name %>
          <% end %>
        </td>
        <td>
          <%= @item.introduction %>
        </td>
        <td>
          <%= @item.price %> (<%= @item.price* (1 + 0.08)  %>)
        </td>

        <td>
          <%= link_to "編集", edit_admin_item_path(@item.id), class: "btn btn-sm btn-success" %>
        </td>
        <td>
          <%= link_to "削除", admin_item_path(@item.id), method: :delete, "data-confirm" => "本当に削除しますか？",  class: "btn btn-sm btn-danger" %>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
  </div>
</div>