<%= link_to 'カートを空にする', destroy_all_item_path, method: :delete, data: { confirm: '本当にカートを空にしますか？' } %>

<table>
  <thead>
    <th>単価(税込)</th>
    <th>小計</th>
  </thead>
  <tbody>
  <% @cart_items.each do |cart_item| %>
    <tr>
      <td><%= cart_item.with_tax_price %></td>
      <td><%= cart_item.subtotal %></td>
      <td> <%= link_to "削除", public_cart_item_path(cart_item), method: :delete %></td>
        <%= @total += cart_item.subtotal %>
    </tr>
  <% end %>
  </tbody>
</table>